body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    background-image: url('i2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

#wrapper:hover {
    transform: scale(1.05);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

p {
    color: #666;
    font-size: 18px;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(240, 248, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 24px);
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4caf50;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
}

.result p {
    margin: 10px 0;
    font-size: 18px;
}

span {
    font-weight: bold;
}

.lowOrHi {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

#newGame {
    background-color: #008cba;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#newGame:hover {
    background-color: #007bb5;
    transform: scale(1.05);
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0px;
    text-align: center;
    border-top: 1px solid #fff;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer p span {
    color: #f0db4f;
    font-weight: bold;
}

footer p span {
    color: #4caf50;
    font-weight: bold;
}